<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.steeplesoft.sunago">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Sunago"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="oauth" android:host="com.steeplesoft.sunago" />
            </intent-filter>
        </activity>

        <service android:name=".twitter.TwitterService" android:exported="false">
            <intent-filter>
                <action android:name="com.steeplesoft.sunago.intent.plugin" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service android:name=".instagram.InstagramService" android:exported="false">
            <intent-filter>
                <action android:name="com.steeplesoft.sunago.intent.plugin" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <provider android:name=".data.SunagoContentProvider"
            android:authorities="com.steeplesoft.sunago.SunagoProvider" />

        <activity
            android:name=".PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".WebLoginActivity"
            android:label="@string/title_activity_web_view"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>